/* !RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* !ROOT VARIABLE */

:root{
 --color-primary-dark:#4338CA;
 --color-primary-light:#075985;
 --color-secondary:#ddd6fe;
 --main-white:#fff;
 --main-black:#262626;
 --main-gray:#D6D3D1;
 --main-transition:all 0.3s linear;
 --color-body:#f6f6f6;
 --color-main-red:#E11D48;
 

}
html{
    font-size: 62.5%;
}

body{
    color: var(--main-black);
    font-family: "inter",sans-serif;
    font-size: 2rem;
    background-color: var(--color-body); 
}
.container{
    width: 100%;
    max-width: 1170px;
}

/* !STYLE OF NAVBAR */

.nav{
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 2rem 4rem;
}
.nav__cart{
    font-size: 3rem;
    color: var(--color-primary-dark);
    position: relative;
}
.nav__cart .cart-item{
    font-size: 1.5rem;
    position: absolute;
    top: -4px;
    right: -2px;
    color: var(--main-white);
    width: 22px;
    height: 22px;
    background-color: var(--color-main-red);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__toggler{
    cursor: pointer;
    margin-bottom: 2rem;
}
.bar{
    width: 25px;
    height: 4px;
    background-color: var(--main-black);
    border-radius: 8px;
    margin: 5px 0;
    transition: var(--main-transition);
}
/* NAVEXPANDED */
.nav.nav__expanded .nav__list{
    max-height: 100vh;
    opacity: 1;
  
}
.nav.nav__expanded .bar-one{
    transform: rotate(-45deg) translate(-9px,6px);
    margin: 8px 0;
}
.nav.nav__expanded .bar-two{
    opacity: 0;
    transform: translateX(-20px);
  
}
.nav.nav__expanded .bar-three{
    transform: rotate(45deg) translate(-8px,-8px);
    margin: 8px 0;
}
/* END OF NAV EXPANDED */

.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
     /*!nav expanded  */
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transition: var(--main-transition);

}
.nav__items{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;

}
.nav__items >a{
    text-decoration: none;
    color: var(--color-primary-light);
    display: block;
    padding: 0.8rem 0rem;
}
.nav__items >a:hover{
    color: var(--color-primary-dark);

}

/* !END OF NAVBAR */

/* !PRODUCTS */

 .product-container{
    background-color:var(--main-gray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;

 }
 .product-title{
    margin: 2rem 0rem;
 }
 .product-center{
    /* width: 100%;
    max-width: 1170px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-column-gap:4rem;
    grid-row-gap:5rem;
 }
 .product{
    background-color: var(--main-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .product__img >img{
    width: 100%;
    min-height: 140px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;  
 }
 .product__description{
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .product__name , .product__price{
    font-size: 1.5rem;
 }
 .product__btn{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    color: var(--color-main-red);
    cursor: pointer;
    margin-bottom: 2rem;
 }
 



/* !MEDIA SCREEN */

@media screen  and (min-width:768px) {
   
    .nav__toggler{
        display: none;
    }
    .nav__list{
        opacity: 1;
        max-height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
    }
    .nav__items{
        border-bottom: 0;
        margin-left: 2rem;
    } 
    .nav__cart{
        font-size: 4rem;
    } 
    .nav__cart .cart-item{
        font-size: 2rem;
        width: 25px;
        height: 25px;
    }
    .product-center{
         width: 100%;
    max-width: 1170px;
    }
  
    /* end of media screen for nav */
  
}









