<section>
    <div class="product-container">
      <h2 class="product-title">Furniture Shopp</h2>
      <div class="product-center">
        <!-- product-1 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product1.jpg" alt="picture-1" />
          </div>
          <div  class="product__description">
            <p class="product__name">product-1</p>
            <p class="product__price">$ 640</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
        <!-- product-2 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product2.jpg" alt="picture-1" />
          </div>
          <div class="product__description">
            <p class="product__name">product-2</p>
            <p class="product__price">$ 380</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
        <!-- product-3 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product3.jpg" alt="picture-1" />
          </div>
          <div  class="product__description">
            <p class="product__name">product-3</p>
            <p class="product__price">$ 780</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
        <!-- product-4 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product4.jpg" alt="picture-1" />
          </div>
          <div  class="product__description">
            <p class="product__name">product-4</p>
            <p class="product__price">$ 900</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
        <!-- product-5 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product5.jpg" alt="picture-1" />
          </div>
          <div  class="product__description">
            <p class="product__name">product-5</p>
            <p class="product__price">$ 440</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
        <!-- product-6 -->
        <section class="product">
          <div class="product__img">
            <img src="/assets/images/product6.jpg" alt="picture-1" />
          </div>
          <div  class="product__description">
            <p class="product__name">product-6</p>
            <p class="product__price">$ 580</p>
          </div>
          <button class="product__btn">add to cart</button>
        </section>
      </div>
    </div>
  </section>