<nav class="nav">
    <span class="nav__cart"><i class="fa-solid fa-cart-shopping"></i>
      <span class="cart-item">0</span>
  </span>
    <p class="nav__title">Furniture Shopp</p>
    <!-- TOGGLER -->
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <!-- LISTS -->
    <ul class="nav__list">
      <li class="nav__items"><a href="#">products</a></li>
      <li class="nav__items"><a href="#">garanti</a></li>
      <li class="nav__items"><a href="#">callto us</a></li>
    </ul>
  </nav>